<%- include("./partials/header.ejs", {title}) %>

<div class = "notebook" id = "editNote-notebook">
    <form
        action = "/notes/<%= note._id %>/edit"
        method = "POST"
    >
        <!--Title-->
        <div id = "editNote-notebook-title">
            <input 
                type = "text"
                name = "title"
                placeholder = "Enter note title"
                value = "<%= note.title %>"
            >
        </div>

        <!--Content-->
        <div id = "editNote-notebook-content">
            <textarea
                name = "content"
                placeholder = "Enter note body"
            ><%= note.content %></textarea>
        </div>

        <!--Submit Button-->
        <div id = "editNote-notebook-submit">
            <button type = "submit"></button>
        </div>
    </form> 
</div> 

<%- include("./partials/footer.ejs") %>