<%- include("./partials/header.ejs", {title}) %>

<div class = "notebook">
    <form
        action = "/notes/<%= note._id %>/edit"
        method = "POST"
    >
        <!--Title-->
        <div class = "title">
            <input 
                type = "text"
                name = "title"
                placeholder = "Enter note title (required)"
                value = "<%= note.title %>"
            >
        </div>

        <!--Content-->
        <div class = "content">
            <textarea
                name = "content"
                placeholder = "Enter note body"
            ><%= note.content %></textarea>
        </div>

        <button type = "submit" class = "submit"></button>
    </form> 
</div> 

<%- include("./partials/footer.ejs") %>